//@import url('../../../styles/variables.scss');

.Button {
	display: inline-block;

	padding: 10px 20px;

	text-align: center;
	text-decoration: none;

	color: #a0a5a8;
}

.primary {
	transition-timing-function: ease;
	transition-duration: 0.2s;

	transition-property: color, box-shadow;

	color: #f6f5f0;

	border: none;

	border-radius: 20px;
	background: linear-gradient(145deg, #e44308, #ff4500);
	box-shadow: 5px 5px 15px #a09f9c, -5px -5px 15px #fff;

	&:hover {
		//color: #ffffff;
		background: linear-gradient(145deg, #e44308, #ff4500);
		box-shadow: 5px 5px 15px #626260, -5px -5px 15px #fff;
	}

	&:active {
		background: #ff4500;
		//box-shadow: inset 10px 10px 20px #c5c4c0, inset -10px -10px 20px #fff;
		box-shadow: inset 7px 7px 13px #ca3600, inset -7px -7px 13px #ff6e00;
	}

	svg {
		fill: #f6f5f0;
	}
}

.ghost {
	transition: all 0.2s ease 0s;

	color: #a0a5a8;

	border: none;

	border-radius: 20px;
	background: linear-gradient(145deg, #ddddd8, #fff);
	box-shadow: 5px 5px 15px #a09f9c, -5px -5px 15px #fff;

	&:hover {
		//color: #666;
		background: linear-gradient(145deg, #ddddd8, #fff);
		box-shadow: 5px 5px 15px #626260, -5px -5px 15px #fff;
	}

	&:active {
		background: #f6f5f0;
		box-shadow: inset 10px 10px 20px #c5c4c0, inset -10px -10px 20px #fff;
	}

	svg {
		fill: #a0a5a8;
	}
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transition: all 0.3s;
	transform: rotate(90deg);
}
