@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.header {
	position: relative;
	//max-width: 1170px;
	height: 600px;
	//margin: 20px 20px 20px 20px;
	//border-radius: 20px;

	-webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);
	box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);

	background: #0052d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#0052d4,
		#4364f7,
		#6fb1fc
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0052d4,
		#4364f7,
		#6fb1fc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	.quick_links {
		display: flex;

		margin-top: 7px;

		a {
			text-decoration: none;

			color: $light-blue;

			font-size: 12px;

			&:hover,
			&:active {
				transition: all 0.9s linear 0s;
				text-decoration: none;

				color: $white;
			}
		}

		.vertical_line {
			width: 0;
			height: 15px;
			margin: 0 13px;

			border-right: 1px solid $light-blue;
		}

		@media (max-width: 760px) {
			& a,
			& .vertical_line {
				display: none;
			}
		}
	}

	img {
		position: absolute;
		right: 0;
		bottom: -600px; //z-index: -1;
	}
}
