@import '../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.footer {
	position: relative;
	height: 220px;
	margin: 20px 20px 20px 20px;
	border-radius: 20px;

	-webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);
	-moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);
	box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.4);

	background: #0052d4; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#0052d4,
		#4364f7,
		#6fb1fc
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0052d4,
		#4364f7,
		#6fb1fc
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: $white;

	@media (max-width: 510px) {
		& {
			height: 300px;
		}
	}

	@media (max-width: 500px) {
		margin: 10px 10px 10px 10px;
	}
}

.cont {
	height: 100%;
}

.footer_wrap {
	height: 100%;

	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 50px auto auto 30px auto;
	justify-content: space-between;
	align-content: center;
	grid-template-areas:
		'logo logo contacts contacts'
		'company company contacts contacts'
		'doc doc contacts contacts'
		'. . contacts contacts'
		'law law law law';

	.logo {
		grid-area: logo;
		text-decoration: none;

		color: $white;

		font-family: 'Roboto Slab', serif;
		font-size: 24px;
		font-weight: 300;
		font-style: normal;
	}

	.contacts {
		grid-area: contacts;
		text-align: end;

		a {
			text-decoration: none;
			color: $white;
			display: block;
			padding-bottom: 10px;

			&:hover,
			&:active {
				transition: all 0.9s linear 0s;
				text-decoration: underline;
			}
		}

		.mail {
			font-size: 14px;
			span {
				position: relative;
				top: 2px;
				padding-right: 5px;
			}
		}

		.tel {
			font-size: 22px;
			font-weight: 600;
			span {
				position: relative;
				top: 2px;
				padding-right: 3px;
			}
		}

		p {
			color: $light-grey;
			font-size: 14px;
			line-height: 15px;
		}
	}

	.company {
		grid-area: company;
		font-size: 14px;
	}

	.doc {
		grid-area: doc;
		font-size: 14px;

		color: $light-grey;

		&:hover,
		&:active {
			transition: all 0.9s linear 0s;
			color: $white;
		}
	}

	.right {
		grid-area: law;
		position: relative;
		font-size: 12px;
		color: $light-grey;
		border-top: 1px solid $light-blue;
		text-align: center;
		padding-top: 10px;
		color: $light-blue;
	}

	@media (max-width: 600px) {
		& {
			.logo {
				font-size: 22px;
			}

			.contacts {
				.mail {
					font-size: 14px;
				}

				.tel {
					font-size: 19px;
				}

				p {
					font-size: 12px;
					line-height: 15px;
				}
			}

			.company {
				font-size: 12px;
			}

			.doc {
				font-size: 12px;
			}

			.right {
				grid-area: law;
				position: relative;
				font-size: 10px;
				color: $light-grey;

				.right_reserved {
				}
			}
		}
	}

	@media (max-width: 510px) {
		& {
			grid-template-columns: auto;
			//grid-template-rows: auto;
			justify-content: center;
			align-items: center;
			align-content: center;
			grid-template-areas:
				'logo'
				'contacts'
				'company'
				'doc'
				'law';

			.logo {
				grid-area: logo;
				font-size: 22px;
				text-align: center;
			}

			.contacts {
				grid-area: contacts;
				text-align: center;

				a {
					display: block;
					padding-bottom: 10px;
				}

				.mail {
					font-size: 18px;
				}

				.tel {
					font-size: 18px;
					font-weight: 400;
				}

				p {
					font-size: 12px;
				}
			}

			.company {
				grid-area: company;
				font-size: 12px;
				padding-top: 20px;
				padding-bottom: 10px;
				text-align: center;
			}

			.doc {
				grid-area: doc;
				font-size: 12px;

				padding-bottom: 10px;
				text-align: center;
			}

			.right {
				grid-area: law;
				font-size: 12px;
				text-align: center;
			}
		}
	}
}
