@import '../../styles/colors';

.container {
	padding-top: 100px;
	position: relative;

	img {
		width: 90%;
		object-fit: cover;
		position: absolute;
		top: 150px;
	}

	> .htag {
		font-weight: 600;
		text-align: center;

		mark {
			background-color: $light-blue;
			border-radius: 2px;
			padding: 0 3px;
		}
	}

	.services_wrap {
		margin-top: 80px;
		position: relative;
		display: grid;
		grid-template-columns: 180px 180px 180px 1fr;
		grid-template-rows: 180px 180px 180px 180px;
		grid-template-areas:
			's1 s5 . .'
			's3 s6 s9 .'
			's2 s7 description description'
			's4 s8 description description';
		gap: 20px 20px;

		@media (max-width: 1000px) {
			grid-template-columns: 180px 180px auto;
			grid-template-rows: 180px 180px 180px 180px 180px 180px;
			grid-template-areas:
				's1 s2 description'
				's3 s4 description'
				's5 s6 description'
				's7 s8 description'
				'. s9 description';
			gap: 20px 20px;
		}

		@media (max-width: 750px) {
			grid-template-columns: 180px 180px;
			grid-template-rows: auto;
			grid-template-areas: auto;
			gap: 10px 10px;
		}

		.service {
			position: relative;

			border-radius: 15px;
			color: $dark-grey;
			height: 180px;
			width: 180px;
			padding: 10px;
			text-align: left;
			transition: all 0.4s ease;

			&:hover {
				-webkit-box-shadow: 10px 10px 20px 0px rgba(50, 50, 50, 0.55);
				-moz-box-shadow: 10px 10px 20px 0px rgba(50, 50, 50, 0.55);
				box-shadow: 10px 10px 20px 0px rgba(50, 50, 50, 0.55);
				color: $black;
			}

			&:active {
				background: $light-grey;

				p {
					color: white;
				}
			}

			p {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 14px;
				color: $light-grey;
				font-weight: 500;
			}

			.htag {
				position: absolute;
				bottom: 10px;
				padding: 0 10px 0 0;
				font-weight: 600;
				font-size: 14px;
			}
		}

		.s1 {
			grid-area: s1;
			background: white;
			border: 1px solid $light-blue;
		}

		.s2 {
			grid-area: s2;
			background: $light-blue;
			color: white;

			p {
				color: white;
			}

			&:hover {
				color: white;
			}
		}

		.s3 {
			grid-area: s3;
			background: white;
			border: 1px solid $light-blue;
		}

		.s4 {
			grid-area: s4;
			background: white;
			border: 1px solid $light-blue;
		}

		.s5 {
			grid-area: s5;
			background: $orange;
			color: white;
			position: relative;
			top: 60px;

			p {
				color: white;
			}

			@media (max-width: 1000px) {
				top: 0;
			}
		}

		.s6 {
			grid-area: s6;
			border: 1px solid $light-blue;
			position: relative;
			top: 60px;

			@media (max-width: 1000px) {
				top: 0;
			}
		}

		.s7 {
			grid-area: s7;
			position: relative;
			border: 1px solid $light-blue;
			top: 60px;

			@media (max-width: 1000px) {
				top: 0;
			}
		}

		.s8 {
			grid-area: s8;
			background: $light-orange;
			color: $orange;
			position: relative;
			top: 60px;

			@media (max-width: 1000px) {
				top: 0;
			}
		}

		.s9 {
			grid-area: s9;
			border: 1px solid $light-blue;
			position: relative;
			top: -60px;

			@media (max-width: 1000px) {
				top: 0;
			}
		}

		.description {
			grid-area: description;
			padding-left: 60px;

			ul {
				padding-top: 20px;
				padding-left: 20px;
			}

			@media (max-width: 700px) {
				display: none;
			}

			@media (max-width: 1000px) {
				padding-left: 0;
			}
		}
	}
}

//================================================================================
