@import '../../styles/colors';

.formContactUs {
	font-size: 14px;
	line-height: 24px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5 1fr);
	gap: 20px 30px;
	grid-template-areas:
		'nameForm nameForm'
		'fio nameUL'
		'tel mail'
		'question question'
		'success  submit';

	label {
		display: block;
	}

	input,
	textarea {
		width: 100%;
	}
}

.nameForm {
	grid-area: nameForm;
	justify-self: center;
	margin: 10px 0;
}

.fio {
	grid-area: fio;
}

.nameUL {
	grid-area: nameUL;
}

.tel {
	grid-area: tel;
}

.mail {
	grid-area: mail;
}

.question {
	grid-area: question;
}

.submit {
	grid-area: submit;
	justify-self: end;
	align-self: end;
}

.success {
	grid-area: success;
	line-height: 16px;
	font-size: 12px;
	justify-self: start;
	align-self: end;
}

.error {
	grid-area: success;
	line-height: 16px;
	font-size: 12px;
	color: red;
	justify-self: start;
	align-self: end;
}

.date {
	display: none;
}
