.wrapper {
	display: grid;

	min-height: 100vh;
	grid-template-columns: minmax(315px, 513px) 50px 794px 50px auto;
	grid-template-rows: 60px 60px 1fr auto;
	grid-template-areas:
		'header header header header header'
		'sidebarLeft . . . .'
		'sidebarLeft . body . .'
		'footer footer footer footer footer';
}

.header {
	grid-area: header;

	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 60px;

	border-bottom: 1px solid #e2e2e2;
	background: #fff;
	box-shadow: -5px 0 15px -5px rgba(0, 0, 0, 0.25);
}

.sidebarLeft {
	grid-area: sidebarLeft;

	border-right: 1px solid #e2e2e2;
	background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%); //#f5f5f5;

	box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.25);
}

.body {
	grid-area: body;

	min-height: 500px;

	border: 1px solid #e2e2e2;
	border-radius: 5px;

	background: #fff;
}

.footer {
	grid-area: footer;

	border-top: 1px solid #e2e2e2;
}

@media (max-width: 1440px) {
	.wrapper {
		display: grid;

		min-height: 100vh;
		grid-template-columns: minmax(315px, 413px) 50px 794px 50px auto;
		grid-template-rows: 60px 60px 1fr auto;
		grid-template-areas:
			'header header header header header'
			'sidebarLeft . . . .'
			'sidebarLeft . body . .'
			'footer footer footer footer footer';
	}
}
