.h1 {
	margin: 0;

	font-size: 36px;
	font-weight: 500;
	line-height: 46px;
}

.h2 {
	margin: 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 36px;
}

.h3 {
	margin: 0;

	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.h4 {
	margin: 0;

	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
}

.h5 {
	margin: 0;

	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
}

.h6 {
	margin: 0;

	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}

.dh1 {
	margin: 0;

	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh2 {
	margin: 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 36px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh2 {
	margin: 0;

	font-size: 24px;
	font-weight: 500;
	line-height: 34px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh3 {
	margin: 0;

	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh4 {
	margin: 0;

	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh5 {
	margin: 0;

	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}

.dh6 {
	margin: 0;

	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	//text-transform: uppercase;

	color: #181818;

	font-family: 'Times New Roman', Times, serif;
}
