//@import url('./variables.scss');

//$bgWhite: #f6f5f0;

$bg: #f6f5f0; // #edf2f0;

$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;

$purple: #4b70e2;

html,
body {
	margin: 20px;
	padding: 0;

	color: $gray;

	background-color: $bg;

	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}
